{{! index.mustache }}
{{> header}}
<body>	
	<h1>Welcome, {{title}}</h1>
    <p onclick="fetchGoku()">*****</p>
    <div id="gokuDiv"></div>
    {{{horoscopeHtml}}}
</body>
<script>	
	{{> script}}
</script>	
	
{{> footer}}	
