{{! script.mustache }}
//script
var horoscopeJson = JSON.parse('{{{horoscopeJson}}}');
var requestUrl = horoscopeJson.requestUrl;
console.log("horoscopeJson:");
console.log(horoscopeJson);
console.log("requestUrl= " + requestUrl);
